@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.popup-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  height: 570px;
  background-color: #0f0f12;
}

.test-text {
  text-align: center;
  font-size: x-large;
  color: white;
  padding-top: 60px;
  cursor: pointer;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 52px;
  padding-inline: 16px;
  background-color: #121316;
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);
}

.button-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding-block: 11px;
  padding-inline: 16px;
  background-color: #262632;
  border-radius: 10px;
}

.button-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #d97a7a;
  border-radius: 50%;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.two-button-wrapper {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 100%;
  margin-top: 64px;
}
